fastapi
uvicorn
python-multipart
langchain
langchain-core
langchain-community
langchain-text-splitters
google-generativeai
chromadb
sentence-transformers
pypdf
python-dotenv
pydantic-settings
rank-bm25
ragas
datasets
langchain-google-genai
langchain-groq
